target
.classpath
.project
/.settings/org.maven.ide.eclipse.prefs
/.settings/org.eclipse.m2e.core.prefs
/.primary_build_tool
/bazel-bin
/bazel-delete-project
/bazel-genfiles
/bazel-out
/bazel-testlogs
