[access]
	inheritFrom = Public-Plugins
[project]
	description = A plugin which allows projects to be deleted from Gerrit via an SSH command
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group plugins-delete-project
	submit = group plugins-delete-project
[receive]
[submit]
[access "refs/tags/*"]
	createSignedTag = group gerrit-release-managers
