[access]
	inheritFrom = Public-Plugins
[project]
	description = A plugin which allows projects to be deleted from Gerrit via an SSH command
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = block group plugins-delete-project
	submit = block group plugins-delete-project
[receive]
[submit]
